@import "./bootstrap/functions";
@import "./bootstrap/variables";

$sidebarWidth: 240px;
$navbarHeight: 3.75rem;

.layout {
  padding-left: $sidebarWidth;
  padding-top: $navbarHeight + $grid-gutter-width / 2;
}

.navbar-brand {
  line-height: 1;
  display: flex;
  align-items: center;
  font-weight: bold;
  transition: color 200ms linear;

  &:hover {
    color: #bb0000;
  }

  span {
    position: relative;
    top: -1px;
  }

  .far {
    margin-right: 0.375rem;
    font-size: 1.75rem;
    color: #bb0000;
  }
}

.content {
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &_left {
    width: $sidebarWidth;
    min-width: $sidebarWidth;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }

  &_right {
    width: 100%;

    .container-fluid {
      display: flex;
      justify-content: center;
    }
  }

  .search-form {
    width: 50%;
  }
}

.navbar-vertical {
  width: $sidebarWidth;
  position: fixed;
  top: $navbarHeight;
  left: 0;
  bottom: 0;
  z-index: 5;

  a {
    font-size: 1.125rem;
  }

  .fa {
    margin-right: 0.75rem;
  }
}

.video-card {
  &:not(._sm) {
    margin-bottom: 1.5rem;

    .video-card_title {
      margin-top: 0.5rem;
    }
  }

  &._sm {
    .video-card_overlay {
      background-size: 30px;
    }
  }

  &:hover {
    img {
      border-radius: 0;
    }

    .video-card_image {
      border-radius: 0;
    }
  }

  &._sm {
    margin-bottom: 1rem;
  }

  &_image {
    position: relative;
    display: block;
    height: 0;
    padding-top: 56.25%;
    background: #333;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.6);
    transition: border-radius 200ms linear;

    &:hover {


      .video-card_overlay {
        opacity: 1;
      }
    }

    img {
      transition: border-radius 200ms linear;
      border-radius: 0.5rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &_title {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 0;
    overflow: hidden;

    a {
      color: #000;
      text-decoration: none;
    }
  }

  &_duration {
    font-size: 0.75rem;
    line-height: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 4px 7px;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  &_time-ago {
    font-size: 0.875rem;
    color: #777;
  }

  &_channel {
    font-size: 0.75rem;
    line-height: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 4px 7px;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 5px;

    .fa {
      color: #0abf0a;
      margin-right: 5px;
    }
  }

  &_overlay {
    opacity: 0;
    background-image: url('../images/play.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    background-color: rgba(0, 0, 0, 0.35);
    transition: opacity 200ms linear;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
  }
}

.video-card._lg {
  .video-card_left {
    min-width: 340px;
    max-width: 340px;
  }

  .video-card_right {
    width: 100%;
  }
}

.video-block {
  margin-bottom: 1rem;

  &_title {
    display: flex;
    align-items: center;
    font-size: 1.375rem;
    line-height: 1;
    margin-bottom: 1.25rem;

    .fa {
      font-size: 1.25rem;
      margin-right: 0.5rem;
      color: #bb0000;
    }
  }
}

.page-header {
  font-size: 1.375rem;
  line-height: 1;
  margin-bottom: 1.25rem;
}

.full-video {
  &_right {
    width: 400px;
    max-width: 400px;
  }

  &_left {
    width: 100%;
  }

  &_title {
    font-size: 1.875rem;
    margin: 1rem 0;
  }

  &_description {
    margin-top: 1rem;
  }

  &_meta {
    margin-bottom: 0.5rem;
  }

  &_channel {
    a {
      font-size: 1.25rem;
      color: #000;
      font-weight: bold;
      text-decoration: none;
      transition: color 200ms linear;

      &:hover {
        color: #0abf0a;
      }
    }

    .fa {
      color: #0abf0a;
      margin-right: 0.375rem;
    }
  }
}

.search-page {
  &_right {
    width: 400px;
    max-width: 400px;
    min-width: 400px;
  }

  &_left {
    width: 100%;
  }
}

.comments {
  margin-top: 3rem;

  &_item {
    margin-bottom: 1rem;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 1rem;

    &-head {

    }

    &-author {
      font-weight: bold;
      margin-right: 1rem;
    }

    &-time-ago {
      color: #737373;
    }

    &-text {

    }
  }
}

.video-widget {
  &_title {
    margin-bottom: 1.125rem;
  }
}

.ya-share2__container {
  text-align: right
}

.queries-widget {
  &_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
  }

  &_title {
    margin-bottom: 0;
  }

  &_list {
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-left: -$grid-gutter-width / 2;
    margin-right: -$grid-gutter-width / 2;;

    &-item {
      width: 25%;
      overflow: hidden;
      padding: 0 $grid-gutter-width / 2;
      margin-bottom: 0.5rem;

      a {
        display: block;
        padding: 0.375rem 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: #f9f9f9;
        border: 1px solid #f1f1f1;
        color: $body-color;
        text-decoration: none;
        transition: background-color 200ms linear;
        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }
}

.page-description {
  font-size: 0.875rem;
  color: #777;

  p {
    margin: 0;
  }
}

.footer {
  padding: 1.5rem 0;
  border-top: 1px solid #f1f1f1;
}